body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.top-left{
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: start;
}

.top-center {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-item {
  margin: 0 1em;
  text-decoration: none;
}

.top-right{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}

.userInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("https://img.freepik.com/premium-vector/hand-painted-background-violet-orange-colours_23-2148427578.jpg?w=2000");
  background-size: cover;
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10 px 0;
}

.productCard:hover {
  border-radius: 27px;
  background: #e0e0e0;
  box-shadow: inset 47px 47px 94px #bebebe, inset -47px -47px 94px #ffffff;
}

.productCard:active {
  transform: scale(0.98);
 }

.cardName .cardPrice{
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 0.9em;
  left: 0.625em;
  bottom: 0.625em;
}

.cardPrice{
  font-weight: 900;
}
